html, body {
    overflow-x: hidden;
}

.body {
	font-family: Graphik,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.info-window-description{
	padding-top:20px;
}

.sidebar {
	position: relative;
	width: 20%;
	float:left;
	display:inline-block;

}

.products-bar {
	position: relative;
	width:20%;
	float:right;
	display:inline-block;
}

.map-container {
	display:inline-block;
}

.map-container > div {
	bottom: 0px !important;
}

.navbar {
	margin-bottom:0px;
}

.list-group {
	max-height: calc(100vh - 50px);
    overflow-y:scroll; 
}

::-webkit-scrollbar { 
    display: none; 
}

.product-item {
	border:0px;
}

.product-category-item {
	text-align:center;
	padding-top: 5px;
	padding-right: 30px;
	padding-left:30px;
	height:calc((100vh - 50px) / 10);
}